extends layouts/main

block content
    .form-container
        form(action=routes.editProfile, method='post')
            label(for='avatar') Avatar
            input(type='file', id='avatar', name='avatar')
            input(type='text', name='name', placeholder='name')
            input(type="text",  name='Email',placeholder="Email" )
            input(type="submit",  value='Update Profile' )
        a.form-contianer__link(href='/users'+routes.changePassword) Change Password